<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL.Properties.Settings.QuanLyQuanCafe_UDTMConnectionString"
            connectionString="Data Source=LAPTOP-MDC64EJL;Initial Catalog=QuanLyQuanCafe_UDTM;User ID=test;Password=sa2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>